{#
Displays a slider widget to define a date filter on the dataset search page sidebar
#}
{% set default_dates = h.get_date_url_param() %}

<section class="module module-narrow module-shallow js-hide" data-module="date-facet" data-module-default_begin="{{ default_dates[0] }}" data-module-default_end="{{ default_dates[1] }}">
  <h2 class="module-heading">
    <i class="icon-medium icon-calendar"></i>
    {{ _('Temporal Search') }}
    <a href="{{ h.remove_url_param(['ext_begin_date', 'ext_end_date'], alternative_url=alternative_url) }}" class="action">
      {{ _('Clear') }}
    </a>
  </h2>
  <input type="text" name="begin" id="field-start-time" placeholder="{{ _('Start Time') }} (YYYY-MM-DD)" value="{{ default_dates[0] }}" />
  <input type="text" name="end" id="field-end-time" placeholder="{{ _('End Time') }} (YYYY-MM-DD)" value="{{ default_dates[1] }}" />
  <button class="btn">{{ _('Update Search') }}</button>
</section>

{% resource 'ckanext-tempsearch/date_facet' %}
